<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock BA</title>
    <link rel="icon" type="image/png" href="img/logo-ut.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- Pembungkus Utama -->
    <div id="app" class="dashboard-layout" v-cloak>
      <!-- Left Content  -->
      <div
        class="sidebar-overlay"
        v-if="sidebarOpen"
        @click="sidebarOpen = false"
      ></div>
      <aside class="sidebar" :class="{ 'sidebar-active': sidebarOpen }">
        <button class="btn-close-sidebar" @click="sidebarOpen = false">
          <i class="fa-solid fa-xmark"></i>
        </button>

        <img src="img/logo-ut.png" alt="Logo UT" class="logodash" />
        <h2 class="brand-logo">SITTA UT</h2>

        <ul class="nav-menu">
          <li>
            <a href="index.html"><i class="fa-solid fa-house"></i> Beranda</a>
          </li>
          <li>
            <a href="stok.html" class="active"
              ><i class="fa-solid fa-box-open"></i> Stok Bahan Ajar</a
            >
          </li>
          <li>
            <a href="tracking.html"
              ><i class="fa-solid fa-truck-fast"></i> Tracking DO</a
            >
          </li>
        </ul>
      </aside>
      <!-- Right Content -->
      <main class="main-content">
        <div class="mobile-header">
          <button class="hamburger-btn" @click="sidebarOpen = !sidebarOpen">
            <i class="fa-solid fa-bars"></i>
          </button>
          <h2 class="mobile-logo">SITTA UT</h2>
        </div>

        <!-- Area Filter dan Sort -->
        <section class="content-area">
          <div class="card filter-section">
            <h3><i class="fa-solid fa-filter"></i> Filter & Sort</h3>

            <div class="filter-group-container">
              <div class="filter-item">
                <label
                  ><i class="fa-solid fa-location-dot"></i> UT Daerah</label
                >
                <select v-model="filterUpbjj" class="filter-select">
                  <option value="">Semua UT</option>
                  <option v-for="lokasi in upbjjList" :value="lokasi">
                    {{ lokasi }}
                  </option>
                </select>
              </div>

              <div class="filter-item" v-if="filterUpbjj !== ''">
                <label
                  ><i class="fa-solid fa-layer-group"></i> Kategori MK</label
                >
                <select v-model="filterKategori" class="filter-select">
                  <option value="">Semua Kategori</option>
                  <option v-for="kat in kategoriList" :value="kat">
                    {{ kat }}
                  </option>
                </select>
              </div>

              <div class="filter-item">
                <label
                  ><i class="fa-solid fa-boxes-stacked"></i> Filter
                  Status</label
                >
                <select v-model="filterStatus" class="filter-select">
                  <option value="">Semua Status</option>
                  <option value="reorder">
                    Butuh Re-order (Kosong & Menipis)
                  </option>
                  <option value="kosong">Hanya Stok Kosong</option>
                  <option value="menipis">Hanya Stok Menipis</option>
                </select>
              </div>

              <div class="filter-item">
                <label
                  ><i class="fa-solid fa-arrow-down-a-z"></i> Urutkan</label
                >
                <select v-model="sortBy" class="filter-select">
                  <option value="judul_asc">Judul (A - Z)</option>
                  <option value="judul_desc">Judul (Z - A)</option>
                  <option value="stok_asc">Stok (Terkecil - Terbesar)</option>
                  <option value="stok_desc">Stok (Terbesar - Terkecil)</option>
                  <option value="harga_asc">Harga (Temurah - Termahal)</option>
                  <option value="harga_desc">
                    Harga (Termahal - Termurah)
                  </option>
                </select>
              </div>
            </div>

            <div class="filter-action-container">
              <button @click="resetFilter" class="btn-reset">
                <i class="fa-solid fa-rotate-right"></i> Reset Filter
              </button>
            </div>
          </div>
        </section>

        <!-- Area Tabel Bahan Ajar -->
        <section class="content-area">
          <div class="card">
            <div class="table-header-container">
              <div class="table-title-group">
                <h3 class="table-title">
                  <i class="fa-solid fa-book"></i> Stok Bahan Ajar
                </h3>

                <span class="watcher-badge">
                  <i class="fa-solid fa-satellite-dish watcher-icon"></i>
                  <strong class="watcher-label">Watcher:</strong> {{
                  logAktivitas }}
                </span>
              </div>
              <button @click="bukaModalTambah" class="btn-tambah">
                <i class="fa-solid fa-plus"></i> Tambah Bahan Ajar
              </button>
            </div>
            <div class="table-responsive animasi-table">
              <table class="table-stok">
                <thead>
                  <tr>
                    <th>KODE</th>
                    <th>JUDUL</th>
                    <th>KATEGORI</th>
                    <th>UPBJJ</th>
                    <th>LOKASI RAK</th>
                    <th>HARGA</th>
                    <th>QTY</th>
                    <th>SAFETY</th>
                    <th>STATUS</th>
                    <th>CATATAN</th>
                    <th>AKSI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(buku, index) in stokTersaring" :key="buku.kode">
                    <td>{{buku.kode}}</td>
                    <td>{{buku.judul}}</td>
                    <td>{{buku.kategori}}</td>
                    <td>{{buku.upbjj}}</td>
                    <td>{{buku.lokasiRak}}</td>
                    <td>{{buku.harga}}</td>
                    <td>{{buku.qty}}</td>
                    <td>{{buku.safety}}</td>

                    <td>
                      <span
                        v-if="buku.qty === 0"
                        class="status-badge badge-kosong status-live-blink"
                      >
                        <i class="fa-solid fa-circle-xmark"></i>
                        Kosong
                      </span>

                      <span
                        v-else-if="buku.qty < buku.safety"
                        class="status-badge badge-menipis status-live-blink"
                      >
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        Menipis
                      </span>

                      <span v-else class="status-badge badge-aman">
                        <i class="fa-solid fa-circle-check"></i> Aman
                      </span>
                    </td>

                    <td v-html="buku.catatanHTML"></td>

                    <!-- edit button -->
                    <td>
                      <button
                        @click="bukaModalEdit(buku)"
                        class="status-badge badge-jemput"
                        style="border: none; cursor: pointer"
                      >
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </main>
      <!-- Area Modal Pop-Up -->
      <div class="modal-overlay" v-if="showModal">
        <div class="modal-content">
          <div class="modal-header">
            <h4>
              <i class="fa-solid fa-book"></i> {{ isEditMode ? 'Edit Bahan Ajar'
              : 'Tambah Bahan Ajar' }}
            </h4>
            <button @click="tutupModal" class="btn-close">&times;</button>
          </div>
          <form @submit.prevent="simpanBuku">
            <div class="modal-body" @submit.prevent="simpanBuku">
              <div class="form-grid">
                <div class="form-group">
                  <label>Kode Barang</label>
                  <input
                    type="text"
                    v-model="baruBuku.kode"
                    :disabled="isEditMode"
                    :class="{ 'input-readonly': isEditMode }"
                    required
                    placeholder="Contoh: EKMA4116"
                  />
                </div>
                <div class="form-group">
                  <label>Judul Buku</label>
                  <input
                    type="text"
                    v-model="baruBuku.judul"
                    required
                    placeholder="Contoh: Pengantar Manajemen"
                  />
                </div>
                <div class="form-group">
                  <label>Kategori</label>
                  <select v-model="baruBuku.kategori" required>
                    <option value="">Pilih Kategori</option>
                    <option v-for="kat in kategoriList" :value="kat">
                      {{ kat }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>UT Daerah (UPBJJ)</label>
                  <select v-model="baruBuku.upbjj" required>
                    <option value="">Pilih UT Daerah</option>
                    <option v-for="lokasi in upbjjList" :value="lokasi">
                      {{ lokasi }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Lokasi Rak</label>
                  <input
                    type="text"
                    v-model="baruBuku.lokasiRak"
                    required
                    placeholder="Contoh: R1-A3"
                  />
                </div>
                <div class="form-group">
                  <label>Harga (Rp)</label>
                  <input
                    type="number"
                    v-model.number="baruBuku.harga"
                    required
                    placeholder="65000"
                  />
                </div>
                <div class="form-group">
                  <label>Jumlah Stok (QTY)</label>
                  <input
                    type="number"
                    v-model.number="baruBuku.qty"
                    required
                    placeholder="28"
                  />
                </div>
                <div class="form-group">
                  <label>Safety Stock</label>
                  <input
                    type="number"
                    v-model.number="baruBuku.safety"
                    required
                    min="0"
                    placeholder="0"
                  />
                </div>
              </div>
              <div class="form-group" style="margin-top: 15px">
                <label>Catatan / HTML</label>
                <textarea
                  v-model="baruBuku.catatanHTML"
                  required
                  rows="3"
                  style="
                    padding: 10px;
                    border: 1px solid #cbd5e1;
                    border-radius: 6px;
                    font-family: inherit;
                  "
                  placeholder="Masukkan catatan atau kode HTML <em>...</em> di sini..."
                ></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button @click="showModal = false" class="btn-batal">
                Batal
              </button>
              <button type="submit" class="btn-simpan">Simpan Data</button>
            </div>
          </form>
        </div>
      </div>
      <!-- batas akhir modal pop-up -->
      <div class="system-overlay" v-if="isProcessing || isSuccess" v-cloak>
        <div class="system-popup">
          <div v-if="isProcessing">
            <div class="spinner"></div>
            <h3 style="color: #1e293b; margin: 0">Memproses Data...</h3>
            <p style="color: #64748b; margin-top: 5px">
              Mengamankan ke dalam sistem
            </p>
          </div>

          <div v-if="isSuccess">
            <i class="fa-solid fa-circle-check success-icon"></i>
            <h3 style="color: #10b981; margin: 0">Berhasil Disimpan!</h3>
            <p style="color: #64748b; margin-top: 5px">
              Data berhasil disimpan
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="./js/stok-app.js"></script>
  </body>
</html>
