<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracking DO</title>
    <link rel="icon" type="image/png" href="img/logo-ut.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- Pembungkus Utama -->
    <div id="app" class="dashboard-layout" v-cloak>
      <!-- Left Content  -->
      <div
        class="sidebar-overlay"
        v-if="sidebarOpen"
        @click="sidebarOpen = false"
      ></div>
      <aside class="sidebar" :class="{ 'sidebar-active': sidebarOpen }">
        <button class="btn-close-sidebar" @click="sidebarOpen = false">
          <i class="fa-solid fa-xmark"></i>
        </button>

        <img src="img/logo-ut.png" alt="Logo UT" class="logodash" />
        <h2 class="brand-logo">SITTA UT</h2>

        <ul class="nav-menu">
          <li>
            <a href="index.html"><i class="fa-solid fa-house"></i> Beranda</a>
          </li>
          <li>
            <a href="stok.html"
              ><i class="fa-solid fa-box-open"></i> Stok Bahan Ajar</a
            >
          </li>
          <li>
            <a href="tracking.html" class="active"
              ><i class="fa-solid fa-truck-fast"></i> Tracking DO</a
            >
          </li>
        </ul>
      </aside>

      <!-- Right Content -->
      <main class="main-content">
        <div class="mobile-header">
          <button class="hamburger-btn" @click="sidebarOpen = !sidebarOpen">
            <i class="fa-solid fa-bars"></i>
          </button>
          <h2 class="mobile-logo">SITTA UT</h2>
        </div>
        <!-- Area Search -->
        <section class="content-area">
          <div class="card">
            <div class="table-header-container">
              <div class="table-title-group search-wrapper">
                <div class="search-box-container">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input
                    type="text"
                    v-model="searchQuery"
                    placeholder="Ketik Nomor DO untuk melacak..."
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Area Tabel Bahan Ajar -->
        <section class="content-area">
          <div class="card">
            <div class="table-header-container">
              <h3 class="table-title">
                <i class="fa-solid fa-truck-fast"></i> Riwayat Delivery Order
              </h3>
              <button @click="bukaModalTambah" class="btn-tambah">
                <i class="fa-solid fa-plus"></i> Input DO Baru
              </button>
            </div>

            <div class="table-responsive animasi-table">
              <table class="table-stok">
                <thead>
                  <tr>
                    <th>NO DO</th>
                    <th>NIM / NAMA</th>
                    <th>PAKET</th>
                    <th>EKSPEDISI</th>
                    <th>TANGGAL</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="doTersaring.length === 0">
                    <td>
                      <i class="fa-solid fa-box-open"></i><br />
                      Nomor DO tidak ditemukan dalam sistem.
                    </td>
                  </tr>

                  <tr v-for="item in doTersaring" :key="item.noDO">
                    <td><strong>{{ item.noDO }}</strong></td>
                    <td>{{ item.nim }}<br /><small>{{ item.nama }}</small></td>
                    <td>
                      <strong>{{ item.kodePaket }}</strong><br />
                      <small class="text-subtitle">{{ item.namaPaket }}</small>
                    </td>
                    <td>{{ item.pengiriman }}</td>
                    <td>{{ item.tanggalKirim }}</td>
                    <td>
                      <span
                        class="status-badge"
                        :class="{
        'badge-gudang': item.status === 'Proses Gudang',
        'badge-jemput': item.status === 'Penjemputan',
        'badge-kirim': item.status === 'Dikirim',
        'badge-terima': item.status === 'Sudah Diterima',
        'status-live-blink': item.status !== 'Sudah Diterima'
    }"
                      >
                        <i
                          class="fa-solid fa-warehouse"
                          v-if="item.status === 'Proses Gudang'"
                        ></i>

                        <i
                          class="fa-solid fa-truck-ramp-box"
                          v-else-if="item.status === 'Penjemputan'"
                        ></i>

                        <i
                          class="fa-solid fa-truck-fast"
                          v-else-if="item.status === 'Dikirim'"
                        ></i>

                        <i
                          class="fa-solid fa-house-circle-check"
                          v-else-if="item.status === 'Sudah Diterima'"
                        ></i>

                        {{ item.status }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <!-- batas awal modal pop-up -->
        <div class="modal-overlay" v-if="showModal" v-cloak>
          <div class="modal-content">
            <div class="modal-header">
              <h4>
                <i class="fa-solid fa-clipboard-list"></i> Buat Delivery Order
                Baru
              </h4>
              <button @click="showModal = false" class="btn-close">
                &times;
              </button>
            </div>

            <form @submit.prevent="simpanDO">
              <div class="modal-body">
                <div class="form-grid">
                  <div class="form-group">
                    <label>Nomor DO (Auto)</label>
                    <input type="text" v-model="formDO.noDO" disabled />
                  </div>
                  <div class="form-group">
                    <label>Tanggal Kirim (Auto)</label>
                    <input type="date" v-model="formDO.tanggalKirim" required />
                  </div>
                  <div class="form-group">
                    <label>NIM Mahasiswa</label>
                    <input
                      type="text"
                      v-model="formDO.nim"
                      required
                      placeholder="Contoh: 041234567"
                    />
                  </div>
                  <div class="form-group">
                    <label>Nama Mahasiswa</label>
                    <input
                      type="text"
                      v-model="formDO.nama"
                      required
                      placeholder="Nama Lengkap"
                    />
                  </div>
                  <div class="form-group">
                    <label>Paket Bahan Ajar</label>
                    <select v-model="formDO.kodePaket" required>
                      <option value="">-- Pilih Paket Bahan Ajar --</option>
                      <option v-for="pkt in paket" :value="pkt.kode">
                        {{pkt.kode}} - {{ pkt.nama }}
                      </option>
                    </select>
                    <div class="paket-detail-card" v-if="detailPaketTerpilih">
                      <div class="paket-detail-header">
                        <span class="detail-title">DETAIL ISI PAKET</span>
                        <span class="detail-price"
                          >Rp {{
                          detailPaketTerpilih.harga.toLocaleString('id-ID')
                          }}</span
                        >
                      </div>

                      <div class="paket-detail-name">
                        <i
                          class="fa-solid fa-box"
                          style="color: #94a3b8; margin-right: 8px"
                        ></i>
                        {{ detailPaketTerpilih.nama }}
                      </div>

                      <div class="paket-items">
                        <div
                          v-for="buku in detailPaketTerpilih.isi"
                          class="paket-item-badge"
                        >
                          <i class="fa-solid fa-book-bookmark"></i>
                          <strong>{{ buku }}</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Metode Pengiriman</label>
                    <select v-model="formDO.pengiriman" required>
                      <option value="">-- Pilih Kurir Ekspedisi --</option>
                      <option
                        v-for="kirim in pengirimanList"
                        :value="kirim.nama"
                      >
                        {{ kirim.nama }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Total Harga (Rp)</label>
                    <input type="number" v-model="formDO.totalHarga" disabled />
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  @click="showModal = false"
                  class="btn-batal"
                >
                  BATAL
                </button>
                <button type="submit" class="btn-simpan">BUAT DO</button>
              </div>
            </form>
          </div>
        </div>
        <!-- batas akhir modal pop-up -->
      </main>
      <div class="system-overlay" v-if="isProcessing || isSuccess" v-cloak>
        <div class="system-popup">
          <div v-if="isProcessing">
            <div class="spinner"></div>
            <h3 style="color: #1e293b; margin: 0">Memproses Data...</h3>
            <p style="color: #64748b; margin-top: 5px">
              Mengamankan ke dalam sistem
            </p>
          </div>

          <div v-if="isSuccess">
            <i class="fa-solid fa-circle-check success-icon"></i>
            <h3 style="color: #10b981; margin: 0">Berhasil Disimpan!</h3>
            <p style="color: #64748b; margin-top: 5px">
              Data sudah masuk ke tabel riwayat
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="./js/tracking-app.js"></script>
  </body>
</html>
